/* fonts */
@font-face {
  font-family: 'Rubik Regular';
  src: url('assets/fonts/Rubik-Regular.ttf');
}

/* variables */
:root {
  --primary: #ffc363;
  --secondary: #000;
  --destaque: #181818;
  --title: #dddbff;
  --text-global: #9893d8;
  --links: #9893d8;
  --input-border: #9893d8;
  --input-text: #f2f2f2;
  --font-primary: 'Rubik Regular';
}

/* reset */

* {
  margin: 0;
  padding: 0%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* base styles */

body {
  background: var(--secondary);
  overflow-x: hidden;
  color: var(--text-global);
  font-family: var(--font-primary);
}

img {
  max-width: 100%;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  color: var(--title);
  font-weight: normal;
}

h1 {
  font-size: 1.3em;
  text-align: center;
}

h3 {
  font-size: 1.3em;
  text-align: center;
}

h2 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
  padding: 10px;
}

a {
  color: var(--links);
}

.leading {
  font-size: 1.1em;
}

.button {
  display: inline-block;
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 8px 16px;
  margin: 15px 0;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.button:hover {
  color: #222;
  background: var(--primary);
}

input,
textarea {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 10px;
  border: 2px solid var(--input-border);
  color: var(--input-text);
  margin: 5px 0;
}

/* header */

.header {
  background: var(--destaque);
  height: 70px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 30px 0;
}

.navbar {
  
}

.brand-logo {
  color: var(--primary);
  font-size: 1.3em;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 70px;
  height: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(25px);
  margin: 40px 0;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  transition: 0.7s;
  visibility: hidden;
  overflow-y: hidden;
  z-index: 100;
}

.navbar-links a {
  display: block;
  padding: 10px;
  color: var(--input-text);
  border-bottom: 2px solid transparent;
}

.navbar-links a:hover {
  opacity: 0.7;
  border-bottom: 2px solid var(--primary);
}

.navbar-menu .active {
  height: calc(100vh - 70px );
  visibility: visible;
}



/* menu-mobile */

.btn-mobile {
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-mobile:hover {
  opacity: 0.7;
}

.menu-burguer {
  border-top: 3px solid;
  color: var(--input-border);
  width: 30px;
}

.menu-burguer::before, .menu-burguer::after  {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background: currentColor;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

.navbar-menu.active .menu-burguer{
  border-top-color: transparent;
}

.navbar-menu.active .menu-burguer::before{
  transform: rotate(135deg);
}

.navbar-menu.active .menu-burguer::after{
  transform: rotate(-135deg);
  top: -7px;
}



/* show-case */

.show-case-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  place-items: center;
  padding-top: 60px;
}

.show-case h2 {
  padding: 20px 0;
}

.show-case-img {
  min-width: 210px;
}

/* portfolio */

.portfolio h3 {
  margin: 60px auto;
}

.portfolio-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 30px 20px;
  margin: 0 auto;
}

.portfolio-cards a {
  text-align: center;
  background: var(--destaque);
  border-radius: 2px;
  margin: 0 auto;
  padding: 50px;
}

.portfolio-cards img {
  max-width: 50%;
}

.portfolio-cards a:hover {
  opacity: 0.7;
}

/* skills */

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  place-items: center;
}

.skills h3 {
  margin: 60px auto;
}

.skills-container li {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  border: 1px solid var(--destaque);
  cursor: pointer;
}

.skills-container li:hover {
  opacity: 0.7;
}

.skills-container li img {
  height: 150px;
  width: 200px;
  padding: 20px;
}

/* contacts */

.contact {
  margin: 60px auto;
}

.contact h3 {
  margin-top: 60px;
  margin-bottom: 5px;
}

.contact p {
  text-align: center;
}

.contact form {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

.contact :is(input, textarea) {
  width: 100%;
}

.contact :is(input, textarea)::placeholder {
  font-family: var(--font-primary);
}

.contact :is(input, textarea):hover {
  opacity: 0.7;
}

/* footer */

.footer-container {
  background: var(--destaque);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.copyright {
  font-size: 0.8em;
}

.social {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.social img {
  width: 18px;
}

.social img:hover {
  opacity: 0.7;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .header {
    height: 120px;
    display: flex;
  }

  .navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  /* .navbar-links {
    display: flex;
    background: var(--destaque);
    flex-direction: row;
    border-top: none;
    margin-top: 0;
    padding: 0;
    gap: 0;
    justify-content: space-between;
    align-items: center;
  } */

  .btn-mobile {
    display: none;
  }

  /* show-case */

  .show-case-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* portfolio */

  .portfolio-cards img {
    max-width: 80%;
  }
}

/* large tablets & laptop styles */

@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }

  /* portfolio */

  .portfolio-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  /* skills */

  .skills-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* desktops styles */

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  .container {
    max-width: 70%;
    margin: 0 auto;
  }

  /* portfolio */

  .portfolio-cards img {
    max-width: 80%;
  }
}
